/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    color: violet;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #2aaff1e7;
  }
  nav a:hover {
    color: #112833;
    background-color: #63696bad;
  }
  nav a.active {
    color: #5e8091da;
  }