/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  position: relative;
  cursor: pointer;
  background-color: rgb(187, 176, 176);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.heroes li:hover {
  color: rgba(42, 179, 248, 0.918);
  background-color: rgba(247, 59, 59, 0.63);
  left: .1em;
}

.heroes a {
  color:purple;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.heroes a:hover {
  color:rebeccapurple;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color:blue;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: palevioletred;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}